*{
  padding: 0;
  margin: 0;
  font-family: "Jost";
  color: black;
  box-sizing: border-box;
  
}

.app{
  max-width: 100vw;
}


body{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

html {
  font-size: 62.5%;
}

@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}
