.AllItemsSection{
    min-height: 100vh;

    display: flex;
    
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.AllItemsSection .AllitemsSectionheading{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AllItemsSection .AllitemsSectionheading h1{
    font-size: 5rem;
}

.AllItemsSection .AllItemsSectionbuttonscollection{
    flex-wrap: wrap;
    
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 1;
}

.AllItemsSectionbuttonscollection .AllItemssectionbutton{
    height: 50px;
    width: 200px;
    border: 0.1px solid #ddd;
    color: white;
    background-color: #535353;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
    min-height: 30px;
    min-width: 100px;
    
}

.AllItemsSectionbuttonscollection .AllItemssectionbutton:hover{
    background:none;
    color: black;
    cursor: pointer;
}

.AllItemsSection .productscollection{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    min-height: 400px;
}

.productscollection .productcard{
    position: relative;
    padding: 15px;

}



.productcard .cardfavaddtocart {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 100%;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
 
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20px;

}
.productcard .cardfavaddtocart .productcardactionicon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: white;
}
.productcard .cardfavaddtocart .productcardactionicon:hover{
    background-color: #BC8157;
}


.productcard .cardfavaddtocart .productcardactionicon img{
    height: 28px;
    width: 28px;
}

.productcard:hover .cardfavaddtocart {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.productcard .productname{
    display: flex;
    align-items: center;
    padding: 5px 0px;
   
}

.productcard .productname h3{
    font-weight: bold;
    color: brown;
}


.productcard .productname p{
    font-size: 1.7rem;
}


.productscollection .productcard img{
    height: 300px;
    width: 300px;
}

@media (max-width:600px) {
    
.AllItemsSection .AllitemsSectionheading h1{
    font-size: 3rem;
}

.AllItemsSection .AllItemsSectionbuttonscollection{
    width: 100%;
}
}